{% extends 'base.html.twig' %}

{% import "components/alerts.html.twig" as alerts %}

{% block body %}
    <div class="security">
        <div class="security-header">
            <img src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <h2>Connexion</h2>
        </div>
        <div class="security-body">
            <div>
                {% if error %}
                    {{ alerts.danger(error.messageKey|trans(error.messageData, 'security')) }}
                {% endif %}
                <form method="post" class="form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <label for="_username" class="form-label">Adresse email</label>
                        <div>
                            <input type="email" id="_username" name="_username" required autocomplete="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="_password" class="form-label">Mot de passe</label>
                        <div>
                            <input id="_password" name="_password" type="password" autocomplete="current-password" required class="form-control">
                        </div>
                    </div>
                    <div class="login-options">
                        <div class="form-check">
                            <input id="remember_me" name="_remember_me" type="checkbox" class="form-control">
                            <label for="remember_me" class="form-label">
                                Se souvenir de moi
                            </label>
                        </div>
                        <div class="forgotten-password">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-block">
                            Se connecter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
